@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,450;1,450&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap);

main{
    min-height: 80vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto Mono", sans-serif; }
